.container {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-height: 50px;
    margin: 0 auto 50px;
    padding-top: 10px;
    padding-bottom: 60px;
    max-width: 1024px;
    width: 100%;
}

.container-logo {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-height: 220px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1024px;
    width: 100%;
}

.container-about {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-height: 220px;
    margin: 0 auto 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    max-width: 1024px;
    width: 100%;
}
.container-contact {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-height: 100px;
    margin: 0 auto 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    max-width: 1024px;
    width: 100%;
}

.container-press {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-height: 320px;
    margin: 0 auto 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 1024px;
    width: 100%;
}

.container-policy {
    font-family: 'Dosis', sans-serif;
    text-align: left;
    min-height: 220px;
    margin: 0 auto 20px;
    padding-top: 20px;
    padding-bottom: 100px;
    max-width: 1024px;
    width: 100%;
}

.container-menu {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    min-height: 50px;
    margin: 0 auto 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    max-width: 1024px;
    width: 100%;
}

.container-terms {
    font-family: 'Dosis', sans-serif;
    text-align: left;
    min-height: 200px;
    margin: 0 auto 100px;
    padding-top: 10px;
    /*padding-bottom: 80px;*/
    max-width: 1024px;
    width: 100%;
}

.container:before {
    content: '';
    height: 100%;
    display: flex;
    vertical-align: middle;

}

.content {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.page-header {
    text-align: center;
}

.login-form {
    margin: auto auto 10%;
    vertical-align: middle;
    text-align: center;
    width: 60%;
    border: 3px solid #367ead;
    padding: 10px;

}

.signup-form {
    margin: auto auto 10%;
    vertical-align: middle;
    text-align: left;
    width: 60%;
    border: 3px solid #367ead;
    padding: 10px;
    /*margin-bottom: 30px;*/
}

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-form {
    background: #e8ecf2;
    margin-top: 10px;
    margin-bottom: 5%;
    width: 80%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

body {
    background-color: #e8ecf2;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.img_logo {
    margin-top: 70px;
}

img {
    border-radius: 10%;
}