{% extends 'base.html' %}

{% block content %}
    <div class="container-about">
        <div class="row" style="font-family: 'Dosis', sans-serif;">
            <div class="col-12">
                <hr>
                <p> Welcome to Certgen Sp. z o. o., your number one source for all things certificates.<br> We're
                    dedicated to
                    providing you the very best of generating certificates, with an emphasis on security, price and
                    reliability.
                </p>


                <p> Founded in 2018 by Rafał and Szymon, Certgen Sp. z o. o. has come a long way from its beginnings in
                    Zgierz. <br>When Rafał and Szymon first started out, their passion for keeping your data safe drove
                    them to start their own business.
                </p>
                <p>
                    We hope you enjoy our products as much as we enjoy offering them to you.
                <p>
                    If you have any questions or comments, please don't hesitate to contact us.
                </p>

                <p>
                    <strong>
                        Sincerely,

                        Rafał and Szymon
                    </strong>
                </p>
            </div>
        </div>
    </div>
{% endblock %}