{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="login-class">
            <hr>
            <p>The confirmation link was invalid, possibly because it has already been used.</p>
        </div>
    </div>

{% endblock %}
