{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="login-class">
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In</a>
            <hr>
            <p>Please confirm your email address to complete the registration. </p>
        </div>
    </div>

{% endblock %}

