{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="container">
        <div class="login-class">
            <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back</a>
            <hr>
        </div>
    </div>
    <div class="container">
        <form method="get">
            <div class="well">
                <h4 style="margin-top: 0">Filter</h4>
                <div class="row">
                    <div class="form-group col-3">
                        {{ certificates_filter.form.user__username.label_tag }}
                        {% render_field certificates_filter.form.user__username class="form-control" %}
                    </div>
                    <div class="form-group col-3">
                        {{ certificates_filter.form.name.label_tag }}
                        {% render_field certificates_filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-3">
                        {{ certificates_filter.form.valid_from.label_tag }}
                        {% render_field certificates_filter.form.valid_from class="form-control" %}
                    </div>
                    <div class="form-group col-3">
                        {{ certificates_filter.form.valid_to.label_tag }}
                        {% render_field certificates_filter.form.valid_to class="form-control" %}
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <br>

        <table class="table" id="table-paginated">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Name</th>
                <th scope="col">Valid From</th>
                <th scope="col">Valid To</th>
                <th scope="col">Key</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for certificate in certificates %}
                <tr>
                    <th scope="row"> {{ forloop.counter }}</th>
                    <td>{{ certificate.user }}</td>
                    <td>{{ certificate.name }}</td>
                    <td>{{ certificate.valid_from|date:"Y-m-d" }}</td>
                    <td>{{ certificate.valid_to|date:"Y-m-d" }}</td>
                    <td>{{ certificate.generated_key |truncatechars:20 }}</td>
                    <td>
                        <div class="row">
                            <button type="button" class="btn btn-primary" style="margin-right: 10px" data-toggle="modal"
                                    data-target="#exampleModalLong{{ forloop.counter }}">
                                View
                            </button>
                            <form method="POST">{% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="delete_items"
                                        value="{{ certificate.pk }}">Remove
                                </button>
                            </form>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong{{ forloop.counter }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLongTitle"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Generated key</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="word-wrap: break-word">
                                        <pre>
						{{ certificate.generated_key }}
					</pre>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="row justify-content-md-center">
            <div class="col-4">
                {% if certificates.has_other_pages %}
                    <ul class="pagination">
                        {% if certificates.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page=
                                           {{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in certificates.paginator.page_range %}
                            {% if certificates.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% elif i > certificates.number|add:'-3' and i < certificates.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page=
                                        {{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if certificates.has_next %}
                            <li class="page-item"><a class="page-link" href="?page=
                                    {{ certificates.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
