{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="font-family: 'Dosis', sans-serif;">
            <div class="col-sm-6">
                <div class="text-center" style="margin-top:-20px;">
                    <h3>address</h3>
                    <hr>
                </div>
                <div class="text-center">
                    <address>
                        <strong>Certgen Sp. z o. o.</strong><br>
                        Żeromskiego 116<br>
                        90-924 Łódź<br>
                        POLAND<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T +48 42 600 60 60<br>
                        M +48 600 100 500<br>
                        &nbsp;
                        <SCRIPT language="JavaScript"
                                type="text/javascript">
                            user = "contact";
                            site = "certgen.com.pl";
                            document.write(user + '@' + site);
                        </SCRIPT>
                        <br> <br>


                        NIP: 700 100 70 30<br>
                        &nbsp;&nbsp;REGON: 123456789<br>
                        KRS: 0000123456<br>
                        <br>
                        Bank (PLN):<br>00 01 0203 0501 1020 0000 0011 0002<br>
                        Bank (EUR):<br>PL 00 01 0203 0501 1020 0000 0011 0002<br>
                    </address>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center" style="margin-top:-20px;">
                    <h3>map</h3>
                    <hr>
                </div>
                <div class="flexible-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9880.3123443356!2d19.44366574315796!3d51.74989567480983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a34d95b1dc397%3A0x6cfce82cd380d19a!2zUG9saXRlY2huaWthIMWBw7NkemthLCA5MC0wMDEgxYHDs2TFug!5e0!3m2!1spl!2spl!4v1546031795567"
                            width="550" height="400" frameborder="1" style="border:1" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-contact contact-form">
            <div class="contact-image">

                <i class="fa fa-paper-plane" style="font-size:50px;"></i>
            </div>
            <form method="post">
                {% csrf_token %}
                <h3>Drop Us a Message</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *"
                                   value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *"
                                   value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control"
                                   placeholder="Your Phone Number *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *"
                                          style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}