{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    {% if user.is_superuser %}
        <div class="container">
            <div class="login-class">
                <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
                <a class="btn btn-primary" href="{% url 'admin_view' %}" role="button">Manage certificates</a>
                <hr>
            </div>
            <div class="container">
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    {% else %}
        <div class="container-menu">
            <div class="login-class">
                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
                    <a class="btn btn-primary" href="{% url 'certificates' %}" role="button">Show all certs</a>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 bg-light rounded shadow-sm">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px">Generate!</button>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class=" bg-light rounded shadow-sm">
                        <p class="text-justify" style="word-wrap: break-word">
                            {% if key %}
                                {{ key | truncatechars:200 }}
                            {% else %}
                                Key(s) will be generated here!
                            {% endif %}
                        </p>
                    </div>
                    {% if key %}
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalLong">
                            View
                        </button>
                        <button type="button" class="btn btn-primary" onclick="myFunction()">
                            Copy to clipboard
                        </button>
                    {% endif %}

                    <script>
                        function myFunction() {
                            /* Get the text field */
                            var textArea = document.createElement("textarea");
                            textArea.value = "{{key}}";
                            document.body.appendChild(textArea);
                            textArea.focus();
                            textArea.select();

                            /* Copy the text inside the text field */
                            document.execCommand("copy");
                            document.body.removeChild(textArea);
                        }
                    </script>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Generated key</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="word-wrap: break-word">
                        <pre>
				{{ key }}
			</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
