{% extends 'base.html' %}

{% block content %}
    <div class="login-form">
        <h2>Log in to Certificate Generator</h2>
        {% if form.errors %}
            <p style="color: red">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% if field.help_text %}
                    <p>
                        <small style="color: grey">{{ field.help_text }}</small>
                    </p>
                {% endif %}
                </p>
            {% endfor %}
            <button class="btn btn-primary" type="submit" id="id_login">Log in!</button>
            <br><br>
            <a class="btn btn-primary" href="{% url 'signup' %}">New to Certificate Generator? Sign up!</a>
        </form>
    </div>
{% endblock %}