{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-press">
        <div class="row" style="font-family: 'Dosis', sans-serif;">
            <div class="col-12">
                <hr>
                <p style="font-size: 20px"> <strong> NEWS </strong></p>
                <p align="center">English version is being translated at this moment. Please refresh the website in 20 minutes. </p>
                <p align="justify"><strong> 11 sierpnia 2016 r.</strong> na głównym parkiecie Giełdy Papierów
                    Wartościowych w Warszawie
                    zadebiutowała
                    spółka CertGen sp. z o. o., polska niezależna spółka działająca w branży certyfikatów
                    elektronicznych.
                    Obecni podczas debiutu byli prezesi Firmy - Rafał i Szymon.
                </p>
                <p align="justify">
                    <strong>CertGen</strong> związany jest z firmą PŁ od wielu lat świadcząc usługi z zakresu
                    generowania certyfikatów
                    elektronicznych, doradztwa w sprawie zabeczieczeń, wycen oraz due diligence.

                    Od 2008 roku CertGen był notowany w Alternatywnym Systemie Obrotu NewConnect.

                    <strong>CertGen</strong> oferuje kompleksowe usługi obejmujące planowanie i realizację generowania
                    hurtowych certyfikatów.
                    Segment Security obejmuje natomiast usługi z zakresu analizy danych, realizacji badań rynku oraz
                    wdrażania innowacyjnych rozwiązań programistycznych wspierających i automatyzujących procesy
                    biznesowe po stronie klientów.
                </p>


                <a href="{% static  'press.pdf' %}">Latest results from Google Analytics</a>
            </div>
        </div>
    </div>
{% endblock %}