{% extends 'base.html' %}

{% block content %}
    <div class="container-terms">
        <div class="row" style="font-family: 'Dosis', sans-serif;">
            <div class="col-12">
                <hr>
                <p>
                    Our prices are always negotiated individually and tailored to the needs and requirements of our
                    Customers.
                    In order to receive a quotation, please contact us by means of e-mail or telephone via channels
                    described in the Contact section and provide the following information:
                <p>
                <ul style="text-indent: 30px;">
                    <li style=" text-indent: 30px;"> - The number of licensed users the account shall be issued for</li>
                    <li> - The maximum number of certificates all licensed users will be generating certificates
                        throughout a
                        one month period
                    </li>
                    <li> - The period of time, in years, you wish for the account to be created for</li>
                </ul>
                </p>
                <p>
                    One of our representatives will contact you within 24 hours from your message.

                    Please remember about the limitations of propagation of security-related technologies in certain
                    countries.
                    The result of the negotiation may heavily rely on this.

                    Payment for our services can be made on the following bank information:
                </p>
                <p style="text-align: center;">
                    <strong >

                        Bank (PLN):
                        00 01 0203 0501 1020 0000 0011 0002
                        <br>
                        &nbsp; &nbsp; Bank (EUR):
                        PL 00 01 0203 0501 1020 0000 0011 0002
                    </strong>
                </p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}