{% extends 'base.html' %}

{% block content %}
    <div class="signup-form">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button class="btn btn-primary" id="id_signup" type="submit">Sign up</button>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back</a>
        </form>
    </div>
{% endblock %}