{% extends 'base.html' %}

{% block content %}

    <div class="container-terms">
        <div class="row" style="font-family: 'Dosis', sans-serif;">
            <div class="col-12">
                <h2><strong>Terms and Conditions</strong></h2>

                <p>Welcome to CertGen!</p>

                <p>These terms and conditions outline the rules and regulations for the use of CertGen sp. z o.o.'s
                    Website, located at certgen.com.pl.</p>

                <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use
                    CertGen if you do not agree to take all of the terms and conditions stated on this page. Our Terms
                    and Conditions were created with the help of the Terms
                    And Conditions Generator</a> and the Privacy
                    Policy Template</a>.</p>

                <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
                    Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website
                    and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and
                    "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves.
                    All terms refer to the offer, acceptance and consideration of payment necessary to undertake the
                    process of our assistance to the Client in the most appropriate manner for the express purpose of
                    meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance
                    with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words
                    in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and
                    therefore as referring to same.</p>

                <h3><strong>Cookies</strong></h3>

                <p>We employ the use of cookies. By accessing CertGen, you agreed to use cookies in agreement with the
                    CertGen sp. z o.o.'s Privacy Policy.</p>

                <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies
                    are used by our website to enable the functionality of certain areas to make it easier for people
                    visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

                <h3><strong>License</strong></h3>

                <p>Unless otherwise stated, CertGen sp. z o.o. and/or its licensors own the intellectual property rights
                    for all material on CertGen. All intellectual property rights are reserved. You may access this from
                    CertGen for your own personal use subjected to restrictions set in these terms and conditions.</p>

                <p>You must not:</p>
                <ul><strong>
                    <li>Republish material from CertGen</li>
                    <li>Sell, rent or sub-license material from CertGen</li>
                    <li>Reproduce, duplicate or copy material from CertGen</li>
                    <li>Redistribute content from CertGen</li>
                </strong>
                </ul>
                <br>
                <p>This Agreement shall begin on the date hereof.</p>


            </div>


        </div>
    </div>
{% endblock %}